<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [${project.artifactId}] %p [%t] %c{30}.%M\(%L\) | %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>

    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache" level="INFO"/>

    <!-- To see what a cache does -->
    <logger name="org.springframework.cache" level="INFO"/>
    <logger name="org.hibernate.cache" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="org.jboss.weld" level="INFO"/>


    <logger name="ru.anr" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
